<!--<gnx-ui-dropdown-->
    <!--[items]="items"-->
    <!--[(selectedItem)]="selectedItem"-->
    <!--[bindLabel]="'name'"-->
    <!--[bindValue]="'id'"-->
    <!--[isMultiSelect]="true"-->
    <!--[isSearchable]="false"-->
    <!--[isSelectBindValue]="false"-->
    <!--[placeholder]="'Please select user'"-->
    <!--[style]="style"-->
    <!--(selectedItemChange)="hello()">-->
<!--</gnx-ui-dropdown>-->
<gnx-ui-dropdown
    placeholder="This is Fin"
    [items]="items"
    bindLabel="name"
    bindValue="id"

></gnx-ui-dropdown>
