<div class="app">
    <div class="header">
        <h2>Dropdown Examples</h2>
    </div>

    <div class="examples">
        <div class="dropdown">
            <header>A Simple Dropdown with a Simple Array</header>
            <gnx-ui-dropdown
                [theme]="'material'"
                [placeholder]="'Select Cheese'"
                [items]="['Mozarella', 'Cottage', 'Vintage']">
            </gnx-ui-dropdown>
        </div>

        <div class="dropdown">
            <header>A Simple Dropdown with an Object Array</header>
            <gnx-ui-dropdown
                [placeholder]="'Select Cheese'"
                [items]="[{'id':1,'name':'Mozarella'},{'id':2,'name':'Cottage'}]"
                [bindLabel]="'name'"
                [bindValue]="'id'">
            </gnx-ui-dropdown>
        </div>

        <div class="dropdown">
            <header>A Simple Dropdown with an Object Array with MultiSelect</header>
            <gnx-ui-dropdown
                [placeholder]="'Select Cheese'"
                [items]="[{'id':1,'name':'Mozarella'},{'id':2,'name':'Cottage'}]"
                [bindLabel]="'name'"
                [bindValue]="'id'"
                [isMultiSelect]="true">
            </gnx-ui-dropdown>
        </div>
        <div class="dropdown">
            <header>A Simple Dropdown with an Object Array with MultiSelect and Tag Addition</header>
            <gnx-ui-dropdown
                [placeholder]="'Select Cheese'"
                [items]="[{'id':1,'name':'Mozarella'},{'id':2,'name':'Cottage'}]"
                [bindLabel]="'name'"
                [bindValue]="'id'"
                [isMultiSelect]="true"
                [isAddTag]="true">
            </gnx-ui-dropdown>
        </div>
    </div>

    <div class="header">
        <h2>Table Examples</h2>
    </div>


    <div class="examples">
        <div class="table">
            <gnx-ui-table (dataChange)="dataChanged($event)" [tableConfig]="tableConfig" [tableData]="tableData"></gnx-ui-table>
        </div>

    </div>


</div>
